<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ar-demo">
      <ion-icon name="tv"></ion-icon>
      <ion-label>AR Demo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ar-multiple-markers">
      <ion-icon name="albums"></ion-icon>
      <ion-label>AR Multiple Markers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ar-custom-models">
      <ion-icon name="airplane"></ion-icon>
      <ion-label>AR Custom Models</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ar-tracking-anim">
      <ion-icon name="at"></ion-icon>
      <ion-label>AR Animated Tracking</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
